:root {
  /*  Colores principales */
  --color-primary: #6A0DAD;      /* Purple */
  --color-primary-light: #9F55E7;
  --color-primary-dark: #3D005D;

  /* aditionals */
  --color-accent: #ffd700;       /* Golden Yellow */

  /*  Neutros */
  --color-neutral-light: #F5F5F5;
  --color-neutral-medium: #B0B0B0;
  --color-neutral-dark: #333333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header{
    background-color: var(--color-primary);
}



.firtsheader {
    display: grid;
    grid-template-columns: auto 1fr;
}




.firtsheader img {
    padding: 10px;
    width: 100px;
    height: auto;
}


  /* HEADER ---> NAV */

.navigation{
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 30px 100px 20px 0px;
    float: right;
    

}



.navigation a{
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-primary-dark);
    border-radius: 5px 5px;
    padding: 3px 6px;
    font-size: 1.8rem;
    color: var(--color-primary-dark);
    text-align: center;
    text-decoration: none;
    background-color: rgb(181, 126, 223);
}


.navigation a:hover{
    background-color: lightblue;
    border-color: var(--color-accent);
}






/* MAIN */

main{
    background-color: var(--color-primary-light);
}

.heropart{
    width: 100%;
    height: 600px;             
    overflow: hidden;
    background-color: black;
    position: relative;

}

.heropart img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center 100%;
    opacity: 50%;
    filter: blur(1px);
    
}

.heropart h1{
    display: block;
    position: absolute;
    background-color: var(--color-neutral-light);
    color: black;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 4rem;
    opacity: 75%;
    padding: 14px 0px;
}


/*------------MAIN (SECOND SECTION -- RANKIN AND FORM)-----*/

.middlepart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px 4px;
    position: relative;
    margin: 5px;
    gap : 10px;
}

.middlepart section{
    background-color: var(--color-neutral-light);
    border-radius: 6px;
    border: 2px solid var(--color-neutral-dark);
    opacity: 100%;
    padding: 10px;
}

/*-----------------  RANKIN MAIN-------- */

.rankin {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    
}

.rankin h2{
    text-align: center;
    padding: 10px;
    border: 2px solid black
}

.rankin figure{
    justify-self: center;
    margin: 0 auto;
    gap: 12px;
    text-align: center;
}

.rankin img {
    display: block;
    width: 300px;
    height: auto;
    align-items: center;
    padding: 0px 0px;
    border-radius: 20px;
    box-shadow: #ffd700;
    border: 2px solid var(--color-primary-dark);
}

.rankin figcaption{
    display: inline-block;
    width: fit-content;
    margin: 10px auto 0 auto;
    padding: 10px 40px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 10px;
    
}






/*---------------FORM MAIN ----------------*/

.formulario h2{
    text-align: center;
    padding: 10px;
    border: 2px solid black
}


.formulario form{
    margin: 1px solid var(--color-accent);
}